{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% load i18n admin_static %}
{% block object-tools-items %}
    {{ block.super }}
<!-- <ul class="object-tools"> -->
    <li>
        {% url cl.opts|admin_urlname:'export_as_csv' as export_as_csv_url %}
        <a href="{% add_preserved_filters export_as_csv_url %}" class="button">{% trans "Export Data" %}</a>
    </li>


        <!-- <li> -->
        <!-- <a href="/export_as_csv/Submissions" class="button button-success">Export Data</a> -->
        <!-- </li> -->
{% endblock %}
