{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
{% load static %}
<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9">
            <div id="content-main">

                {% if app_list %}
                {% for app in app_list %}
                <div class="app-{{ app.app_label }} module">
                    <table class="table">
                        <caption>
                            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                        </caption>
                        {% for model in app.models %}
                        <tr class="model-{{ model.object_name|lower }}">
                            {% if model.admin_url %}
                            <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                            {% else %}
                            <th scope="row">{{ model.name }}</th>
                            {% endif %}

                            {% if model.add_url %}
                            <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}

                            {% if model.admin_url %}
                            <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
                {% else %}
                <p>{% trans "You don't have permission to edit anything." %}</p>
                {% endif %}
            </div>
            {% endblock %}
        </div>

        <div class="col-6 col-md-3 sidebar-offcamvas" id="sidebar">
            {% block sidebar %}
            <div id="content-related">
                <div class="module" id="recent-actions-module">
                    <h2>{% trans 'Recent actions' %}</h2>
                    <h3>{% trans 'My actions' %}</h3>
                    {% load log %}
                    {% get_admin_log 10 as admin_log for_user user %}
                    {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                    {% else %}
                    <ul class="actionlist">
                        {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                            {{ entry.object_repr }}
                            {% else %}
                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                            <br/>
                            {% if entry.content_type %}
                            <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                            {% else %}
                            <span class="mini quiet">{% trans 'Unknown content' %}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <h2> Instructions </h2>
    <p> Below are instructions for how to manage the website.
        Different management tasks take place at different locations.
        Different tasks take place at different times and both time and order-dependent.
        Any calculation can be re-calculated as often as needed
        (for example poster judging assignments).
        To complete each task and view the current and resulting data, click on the various
        names within the <mark>BMB_REGISTRATION</mark> table.
    </p>
    <p> <b>Assign Variables</b> and <b>Assign Departments and PIs</b> should be completed before
        users begin signing up on the website.
    </p>
    <p>Click on each heading below to read more about each step.</p>
    <div class="panel-group" id="accordian">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        1. Assign Variables
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    Variables are assigned that designate the date, time, and location of the retreat event.
                    This is done under the <mark>Variables</mark> sections.
                    Through here create/edit the following variables:
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Variable Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>YEAR</td>
                                <td>The year of the retreat (i.e. 2017)</td>
                            </tr>
                            <tr>
                                <td>DATESTRING</td>
                                <td>The dates of the retreat (i.e. Thursday, October 6
                                    and Friday, October 7th)
                                </td>
                            </tr>
                            <tr>
                                <td>LOCATION</td>
                                <td>The name of the retreat (i.e. Empire State Building. NY, NY)</td>
                            </tr>
                            <tr>
                                <td>LOCATION_URL</td>
                                <td>The URL that links to the location of the place
                                    (i.e. https://www.esbnyc.com/). Note to start this link with https://
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    The results for assigning each variable should be seen on the front login page of the website.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            2. Assign Departments and PIs
                        </a>
                    </h4>
                </div>
                <div id="collapse2"  class="panel-collapse collapse">
                    <div class="panel-body">
                        All departments and PIs available for registrant selection are assigned under
                        the <mark>Departments</mark> and <mark>PIs</mark> sections.
                        These can be added one by one, but for convienence there is a <mark>BULK ADD</mark>
                        button that allows a file upload of all Departments or PIs at once.
                        Simply upload a text file with a single department or PI on each line.
                        For the PIs, each PI should be of the form <font color="red">LastName, FirstName</font>.
                        Each PI or department can be viewed and edited individually after upload,
                        as well as addition/deletion.
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            3. Assign Poster Numbers
                        </a>
                    </h4>
                </div>
                <div id="collapse3"  class="panel-collapse collapse">
                    <div class="panel-body">
                        After the users have registered, assign the poster numbers through the
                        the <mark>Submission</mark> tab. Click the <mark>ASSIGN POSTER NUMBERS</mark>
                        button at the top. Poster numbers are assigned in
                        alphabetical order by last name. This can be repeated if
                        someone new registers.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            4. Assign Judges
                        </a>
                    </h4>
                </div>
                <div id="collapse4"  class="panel-collapse collapse">
                    <div class="panel-body">
                        After the posters numbers have been assigned, assign the
                        judges through the the <mark>Users</mark> tab.
                        Click the <mark>ASSIGN JUDGES</mark> button at the top.
                        This is a random assignment of judges with exclusion of judges
                        for people within the same lab. Also, detailed judges
                        are assigned with the additional restriction that poster
                        presenters are not presenting on the same day.
                        <br>
                        After running this, a count of the number of ranking and detailed
                        judges per poster presenter can be seen in the <mark>Submission</mark>
                        section. This process can be repeated as often as you like until
                        you get a satasfactory result - sort ascending by number of
                        Assigned Rank and Detailed Judges to view the results.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            5. Submit Scores
                        </a>
                    </h4>
                </div>
                <div id="collapse5"  class="panel-collapse collapse">
                    <div class="panel-body">
                        Scores are submitted via the <mark>SUBMIT SCORES</mark>
                        button in the <mark>Submissions</mark> section.
                        A poster number is not required to be entered for all 5 ranks.
                        One poster can not be entered multiple times at once and only
                        valid poster numbers are allowed.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                            6. Calculate Scores
                        </a>
                    </h4>
                </div>
                <div id="collapse6"  class="panel-collapse collapse">
                    <div class="panel-body">
                        After entering scores, averaging and ranking is performed with the
                        <mark>CALCULATE SCORES</mark> button in the <mark>Submissions</mark> section.
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br class="clear" />

{% endblock %}
</div>
