<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="registration-page">
        <meta name="author" content="">

        {% load static %}
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/sticky-footer.css" %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        {% load db_variables %}
        {% block extrahead %} {% endblock %}

        <style>
         ul.errorlist {color:red; font-size:12px}
         body {
             min-height: 200px;
             padding-top: 70px;
         }
         @media (min-width: 1200px) {
             .container{
                 max-width: 1200px;
             }
         }
         .jumbotronwidth {max-width:100%;}


        </style>


    </head>

    <body>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Retreat Registration</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if request.session.user and not request.session.user.hide %}
              <li><a href="#">{{ request.session.user.first_name  }}<span class="sr-only">(current)</span></a></li>
              <li><a href="/password">Change Password<span class="sr-only">(current)</span></a></li>
              <li><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
              {% else %}
              <li><a href="/signup">Sign Up<span class="sr-only">(current)</span></a></li>
              <li><a href="/login">Login<span class="sr-only">(current)</span></a></li>
              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container" id="container">

      <div class="jumbotron">
          <h2 style="text-align:center">
              <!-- The Verna &amp; Marrs McLean Department<br> of Biochemistry &amp;
                   Molecular Biology<br> and<br> The Department of Pharmacology <br> Research Conference -->
              The Verna &amp; Marrs McLean Department of Biochemistry &amp;
              Molecular Biology and The Department of Pharmacology Research Conference
              - {% get_variable "YEAR" %}
          </h2>
          <p style="text-align:center">
              {% get_variable "DATESTRING" %}  <!-- ex: Thursday, October 6, 2016 and Friday, October 7, 2016 -->
          </p>
          <p style="text-align:center">
              <a href="{% get_variable 'LOCATION_URL' %}">
                  {% get_variable "LOCATION" %}
                  <!-- South Shore Harbour Resort and Conference Center - 2500 South Shore Blvd, League City, TX -->
              </a>
          </p>
          <!-- <a class="btn btn-lg btn-primary" href="/signup" role="button">Register &raquo;</a> -->
      </div>

        {% if request.session.user and not request.session.user.hide %}

        <h2> Hello, {{ request.session.user.first_name }} - What would you like to do?</h2>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h1><a class="btn btn-primary btn-lg" href="/update" role="button">Edit Registration Data </a></h1>
            </div>
            <div class="col-lg-6 text-center">
                <h1><a class="btn btn-primary btn-lg" href="/abstract" role="button">Submit/Edit Abstract </a></h1>
            </div>
        </div>

        &nbsp;
        <br />


        {% else %}




        {% endif %}

        <!--main content area begins here-->
        {% block content %}{% endblock %}
        <!--main content area ends here-->


        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}


    </div>



</body>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2017 Keri &amp Saltzman Productions</span>
    </div>
</footer>

</html>

<!-- &nbsp; -->



<!-- grey line -->
    <!-- <hr style="width: 100%; background-color: #AAAAAA; height: 1px; border-color : transparent;" /> -->


<!-- <footer class="footer"> -->
<!-- <div class="container-fluid"> -->
<!-- <p class="footer_text">&copy; 2017 Keri &amp Saltzman Productions</p> -->
<!-- </div> -->
<!-- </footer> -->
<!-- </html> -->
