<style>
.asteriskField {
    display: none;
}
</style>

{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block content %}

{% if form %}

<!-- <form action="{{ page }}" method="POST" id="main_form"> -->

<!-- #{% csrf_token %} -->

<!-- <table align="center" class="main_form"> -->
<!-- {#{ form.as_table }} -->
<!-- </table> -->

<!-- <div class="btn_center" style="text-align: center; margin-left: 320px;"> -->
<!-- <p align="center"><input type="submit" align="center" value="{{ submit_button|default:'Submit' }}"></p> -->
<!-- </div> -->

<!-- </form> -->


{% csrf_token %}
{% load crispy_forms_tags %}
{% crispy form %}


{% endif %}




{% endblock %}
