{% autoescape off %}

Welcome {{ user.first_name }} {{ user.last_name }},

This email confirms your registration for the Biochemistry, Pharmacology, and CPSB Program retreat.

The research conference is from Thursday, October 28th and Friday, October 29th at the San Luis Resort Spa & Conference Center, 522 Seawall Blvd, Galveston, TX 77551.

If you are presenting a poster or talk, please prepare your abstract and submit it to your account on the retreat website. Posters must fit within a space that is 4 feet wide, and 4 feet high and the title should be in all caps.  If you are giving a talk, please upload your slides before you present.

Cash prizes will be given for the best posters and talks.

The costume party will start before dinner on Thursday, so come prepared and be creative!


Sincerely,
The 2021 Retreat Team
{% endautoescape %}
